@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadein {
  -webkit-animation: fadein 500ms 350ms both;
          animation: fadein 500ms 350ms both;
}

.alltext {
  font-family: Quicksand;
  letter-spacing: 2px;
  line-height: 1.5;
}

.menu {
  font-size: 20px;
}

.pagename {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 600px) {
  .title {
    font-size: 48px;
  }
}

.text {
  margin: 1rem;
  width: 80%;
  max-width: 450px;
  word-wrap: break-word;
}

span {
  color: #e23d3d;
}

.background {
  background-color: #ffffff;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.514) 5px 5px 5px 0px, 0px 0px 4px 2px rgba(0, 0, 0, 0);
}

.gridCenter {
  place-items: center;
  align-content: center;
}

.bradius {
  border-radius: 8px;
}

.link {
  color: #242424;
  font-style: italic;
}

#about {
  position: relative;
  display: grid;
  margin-top: 4rem;
  width: 100%;
}
#about #profilepicture {
  margin: 1rem;
  width: 50%;
  max-width: 200px;
  border-radius: 50%;
  border: solid;
  color: #9DA2A5;
}
@media (min-width: 992px) {
  #about #profilepicture {
    max-width: 500px;
  }
}
#about p {
  padding: 2rem 0;
}
@media (min-width: 992px) {
  #about {
    grid-template-columns: repeat(3, 1fr);
  }
}

#aboutCon {
  display: grid;
  justify-items: center;
}
@media (min-width: 992px) {
  #aboutCon {
    align-self: start;
  }
}

#aboutTitle {
  display: none;
  margin-left: 1rem;
}
@media (min-width: 992px) {
  #aboutTitle {
    display: block;
  }
}

#profileContainer {
  align-self: start;
  display: grid;
  place-items: center;
  align-content: center;
  border-radius: 25px;
  width: 80%;
  max-width: 350px;
}
@media (min-width: 992px) {
  #profileContainer {
    position: sticky;
    top: 125px;
    justify-self: center;
    border: solid;
    border-color: #9DA2A5;
  }
}

.moreInfo {
  place-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: solid;
  border-color: #e23d3d;
}
.moreInfo h2 {
  margin-bottom: 1rem;
}
.moreInfo li {
  margin-bottom: 0.5rem;
  text-decoration: none;
  list-style-position: inside;
}
.moreInfo a {
  color: #242424;
}

#miMobile {
  display: grid;
  width: 80%;
}
#miMobile a {
  color: #e23d3d;
}
#miMobile ul {
  justify-self: center;
  width: 230px;
}
@media (min-width: 992px) {
  #miMobile {
    display: none;
  }
}

#miDesktop {
  display: none;
  padding-bottom: 2rem;
  width: 80%;
  max-width: 340px;
}
#miDesktop a {
  font-size: 18px;
  word-break: break-all;
}
#miDesktop ul {
  justify-self: start;
}
@media (min-width: 992px) {
  #miDesktop {
    display: grid;
  }
}

#aboutimages {
  display: none;
  justify-items: center;
  align-self: start;
  width: 80%;
}
@media (min-width: 992px) {
  #aboutimages {
    display: grid;
  }
}
#aboutimages img {
  width: 100%;
  max-width: 450px;
  margin-bottom: 2rem;
  border-radius: 8px;
}

#projects {
  position: relative;
  display: grid;
  height: 100%;
}
@media (min-width: 992px) {
  #projects {
    grid-template-columns: 40vw 1fr;
    margin-top: 2rem;
    padding: 0 2rem;
  }
}

#projectsDesc {
  justify-self: center;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  #projectsDesc {
    position: sticky;
    top: 125px;
    margin-left: 2rem;
    width: 100%;
    max-width: 600px;
  }
}
#projectsDesc h2 {
  margin-bottom: 1rem;
}

#projectslist {
  display: grid;
}

.projectcard {
  justify-self: center;
  margin: 2rem 0;
  padding: 2rem 0;
  width: 80%;
  border-top: solid;
  border-color: #e23d3d;
}
@media (min-width: 992px) {
  .projectcard {
    width: 90%;
    max-width: 700px;
  }
}
.projectcard h2, .projectcard p, .projectcard ul {
  margin-bottom: 1rem;
}
.projectcard li {
  list-style-position: inside;
}
.projectcard a {
  color: #e23d3d;
}
.projectcard p {
  max-width: 650px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.projectcard img {
  justify-self: start;
  width: 100%;
  border-radius: 8px;
}
@media (min-width: 992px) {
  .projectcard img {
    margin: 0;
    width: 60%;
  }
}

#experience {
  position: relative;
  display: grid;
  height: 100%;
}
@media (min-width: 992px) {
  #experience {
    grid-template-columns: 40vw 1fr;
    margin-top: 2rem;
    padding: 0 2rem;
  }
}

#XPDesc {
  justify-self: center;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  #XPDesc {
    position: sticky;
    top: 125px;
    margin-left: 2rem;
    width: 100%;
    max-width: 600px;
  }
}
#XPDesc h2 {
  margin-bottom: 1rem;
}

#XPlist {
  display: grid;
}

.XPcard {
  justify-self: center;
  margin: 2rem 0;
  padding: 2rem 0;
  width: 80%;
  border-top: solid;
  border-color: #e23d3d;
}
@media (min-width: 992px) {
  .XPcard {
    width: 90%;
    max-width: 700px;
  }
}
.XPcard h2, .XPcard p, .XPcard ul {
  margin-bottom: 1rem;
}
.XPcard li {
  list-style-position: inside;
}
.XPcard a {
  color: #e23d3d;
}
.XPcard p {
  max-width: 650px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.XPcard img {
  justify-self: start;
  width: 100%;
  border-radius: 8px;
}
@media (min-width: 992px) {
  .XPcard img {
    margin: 0;
    width: 60%;
  }
}

#gallery {
  position: relative;
  display: grid;
  height: 100%;
}
@media (min-width: 992px) {
  #gallery {
    grid-template-columns: 40vw 1fr;
    margin-top: 2rem;
    padding: 0 2rem;
  }
}

#galleryDesc {
  justify-self: center;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  #galleryDesc {
    position: sticky;
    top: 125px;
    margin-left: 2rem;
    width: 100%;
    max-width: 600px;
  }
}
#galleryDesc h2 {
  margin-bottom: 1rem;
}

.gallery {
  justify-self: center;
  -moz-columns: 1;
       columns: 1;
  margin: 0rem 2rem;
  padding: 2rem 1rem;
  max-width: 1000px;
  background-color: #9DA2A5;
  border-radius: 8px;
}
@media (min-width: 600px) {
  .gallery {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 992px) {
  .gallery {
    -moz-columns: 4;
         columns: 4;
  }
}
.gallery .imagecontainer {
  display: grid;
  width: 100%;
  margin-bottom: 2rem;
  transition: 250ms;
  opacity: 0;
  transform: translateY(-20px);
}
.gallery .imagecontainer img {
  justify-self: center;
  width: 100%;
  border-radius: 5px;
}
.gallery .imagecontainer.fadein {
  opacity: 1;
  transform: translateY(0);
}
.gallery .imagecontainer:hover {
  transform: scale(95%);
  cursor: pointer;
}

#gallerylightbox {
  z-index: -1;
  top: 0;
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: 250ms;
}
#gallerylightbox.active {
  z-index: 10;
  opacity: 1;
}
#gallerylightbox #closeButton {
  z-index: 5;
  justify-self: end;
  padding: 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#gallerylightbox #closeButton.darkmode {
  filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}
@media (min-width: 600px) {
  #gallerylightbox #closeButton {
    padding: 2rem;
  }
}
#gallerylightbox .imagecontainer {
  z-index: 5;
  justify-self: center;
  align-self: center;
  display: grid;
  width: 80vw;
  height: 80vh;
  transition: 250ms;
}
#gallerylightbox .imagecontainer #imageClicked {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
#gallerylightbox #gBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #9DA2A5;
  opacity: 0.85;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: grid;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: #9DA2A5;
}
nav #name {
  z-index: 1;
  margin: 1rem;
  color: #242424;
  text-decoration: none;
}
nav #menuicon {
  z-index: 1;
  margin: 1rem;
  width: 25px;
  justify-self: end;
  transition: 250ms;
}
nav #menuicon.active {
  transform: rotate(180deg);
}
@media (min-width: 600px) {
  nav #menuicon {
    display: none;
  }
}

#options {
  position: fixed;
  top: 58px;
  right: 0;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  z-index: -1;
  width: 100%;
  height: calc(100vh - 58px);
  opacity: 0;
  transition: 250ms;
}
#options.active {
  z-index: 5;
  opacity: 1;
}
@media (min-width: 600px) {
  #options {
    position: fixed;
    z-index: 3;
    top: 0;
    display: block;
    justify-self: end;
    margin: 1rem;
    width: auto;
    height: auto;
    transform: none;
    opacity: 1;
  }
}
#options li {
  margin-bottom: 0.5rem;
  list-style: none;
  text-align: center;
}
@media (min-width: 600px) {
  #options li {
    display: inline;
    margin-left: 1rem;
  }
}
#options a {
  text-decoration: none;
  color: #242424;
}

#welcome {
  display: grid;
  height: 100vh;
  text-align: center;
}
@media (min-width: 992px) {
  #welcome {
    margin-bottom: 4rem;
    height: 100vh;
    background-image: linear-gradient(to right, #c5c5c538, #c5c5c538), url("/Resources/Images/PP Desktop.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
#welcome #pp {
  width: 250px;
  border-radius: 30% 70% 46% 54%/66% 25% 75% 34%;
}
@media (min-width: 600px) {
  #welcome #pp {
    width: 400px;
  }
}
@media (min-width: 992px) {
  #welcome #pp {
    display: none;
  }
}
#welcome #arrow {
  margin: 1rem;
  width: 25px;
  -webkit-animation: bounce 350ms ease-out infinite alternate;
          animation: bounce 350ms ease-out infinite alternate;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  margin-bottom: 2rem;
  width: 300px;
  height: 425px;
  background-color: #52575A;
  opacity: 0;
  transform: translateY(-20px);
  overflow: hidden;
  cursor: pointer;
  transition: 1.25s;
}
.card.fadein {
  opacity: 1;
  transform: translateY(0);
}
.card img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.card h2 {
  color: #e4e4e4;
  margin: 0 1rem;
}
.card p {
  margin: 1rem;
  color: #e4e4e4;
}/*# sourceMappingURL=main.css.map */