@import "settings/settings-dir";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: ff(primary);
  letter-spacing: 1px;
}

// ------------------------------

body {
  @extend %display-grid-center;
  @extend %background-stripe;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

// ------------------------------

nav {
  @extend %display-flex-center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav {
  @extend %display-grid-center;
  grid-template-columns: 1fr max-content;
  z-index: 1;
  padding: 1.5rem 2rem;
  width: 80%;
  ul {
    @extend %transition;
    display: none;
    justify-self: end;
    transform: scale(1, 1);
    &.active {
      transform: scale(0, -0.5);
    }
    @include tablet {
      display: block;
    }
  }
  li {
    display: inline;
    margin-left: 1.5rem;
  }
  li:nth-child(1) {
    a {
      animation-delay: 2.75s;
    }
  }
  li:nth-child(2) {
    a {
      animation-delay: 2.85s;
    }
  }
  li:nth-child(3) {
    a {
      animation-delay: 2.95s;
    }
  }
  li:nth-child(4) {
    a {
      animation-delay: 3.05s;
    }
  }
}

#nav-mobile {
  @extend %display-grid;
  @extend %colour-background;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  transition: 250ms cubic-bezier(0.5, 1.04, 0.69, 0.95);
  &.active {
    right: 0;
  }
  ul {
    margin: 0 1rem 15vh 0;
    align-self: end;
    grid-column: 3;
  }
  li {
    margin: 2rem 0 0 0;
  }
  //  ----
  @include desktop {
    display: none;
  }
}

// ------------------------------

main {
  @extend %display-grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

// ------------------------------

.landing {
  @extend %display-grid;
  align-items: center;
  grid-column: 1 / span 7;
  height: 100vh;
  //  ----
  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.landing div:nth-child(1) {
  @extend %display-flex;
  flex-direction: column;
  margin-left: 5vw;
  width: 92vw;
  height: max-content;
  transform: translateY(12vh);
  //  ----
  h1 {
    transform: translateX(-5px);
    animation-delay: 0.25s;
  }
  p {
    animation-delay: 1.25s;
  }
  //  ----
  @include desktop {
    justify-self: end;
    margin-right: 1vw;
    width: max-content;
    transform: translateY(0);
  }
}

.landing div:nth-child(2) {
  @extend %display-grid;
  grid-template-columns: 75vw max-content;
  justify-self: center;
  position: relative;
  width: 75vw;
  transform: translateY(1rem);
  //  ----
  img {
    width: 100%;
    animation-delay: 2.25s;
    @include tablet {
      width: 60vw;
    }
    @include desktop {
      width: 100%;
    }
  }
  p {
    justify-self: end;
    grid-column: 1;
    margin-top: 1rem;
    animation-delay: 2.8s;
  }
  ul {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    li {
      margin-top: 1rem;
      margin-left: 0.5rem;
    }
    li:nth-child(1) {
      a {
        animation-delay: 2.35s;
      }
    }
    li:nth-child(2) {
      a {
        animation-delay: 2.45s;
      }
    }
    li:nth-child(3) {
      a {
        animation-delay: 2.55s;
      }
    }
  }
  a {
    @extend %colour-text;
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
  }
  //  ----
  @include tablet {
    grid-template-columns: max-content max-content;
    transform: translateX(6vw);
  }
  @include desktop {
    grid-template-columns: 26vw max-content;
    justify-self: start;
    margin-left: 4vw;
    width: auto;
    transform: none;
  }
}
