@import "settings/colours";
@import "settings/fonts";
@import "settings/displays";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Quicksand;
  text-decoration: none;
}

body {
  position: relative;
  display: grid;
}
