$lightmode: (
    1: #0B0C0E,
    2: #ffffff,
    3: #9DA2A5,
    4: #52575A,
    5: #7B3638,
);


$darkmode: (
    primary: black,
);


@function lm($color-name) {
    @return map-get($lightmode, $color-name);
}


@function dm($color-name) {
    @return map-get($darkmode, $color-name);
}