@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// ------------------------------

$fonts: (
  primary: Helvetica,
);

$fs-mobile: (
  h1: 15vw,
  h2: 5vw,
  h3: 4vw,
  p: 3.5vw,
  pill: 2.5vw,
);

$fs-desktop: (
  h1: 4.75vw,
  h2: 1.55vw,
  h3: 1.1vw,
  p: 1vw,
  pill: 0.75vw,
);

// ------------------------------

@function ff($ff) {
  @return map-get($fonts, $ff);
}

@function fsm($fs) {
  @return map-get($fs-mobile, $fs);
}

@function fsd($fs) {
  @return map-get($fs-desktop, $fs);
}
