/* 
=======================================

Settings, Variables and Functions Setup

=======================================
*/


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


@mixin desktop {
    @media (min-width: 1080px) {
        @content;
    }
}


@mixin tablet {
    @media (min-width: 750px) {
        @content;
    }
}


$lightmode: (
    1: #1a1a1a,
    2: rgb(245, 245, 245),
    3: rgb(255, 255, 255),
    4: #a1a1a1,
    accent: rgb(179, 40, 40)
);


$darkmode: (
    1: rgb(245, 245, 245),
    2: rgb(26, 26, 26),
    3: rgb(18, 18, 18),
    accent: rgb(228, 50, 50)
);


@function lm($color-name) {
    @return map-get($lightmode, $color-name);
}


@function dm($color-name) {
    @return map-get($darkmode, $color-name);
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$fonts: (
    1: 16px,
    2: 28px,
    3: 40px,
    primary: Quicksand,
);


@function ff($ff) {
    @return map-get($fonts, $ff);
}


.font {
    font-family: ff(primary);
    letter-spacing: 2px;
    h1 {
        font-size: ff(2);
        font-weight: 400;
    }
    p {
        font-size: ff(1);
    }
}


/* 
=======================================

Body, Header, Navigation and Footer

=======================================
*/


body {
    position: relative;
    display: grid;
    min-height: 100vh;
    color: lm(1);
    transition: 350ms;
    a {
        color: lm(1);
        transition: 250ms;
    }
    &.darkmode {
        color: dm(1);
        background-color: dm(2);
        a {
            color: dm(1);
        }
    }
}


nav {
    position: fixed;
    z-index: 2;
    justify-self: end;
    display: grid;
    grid-template-columns: max-content max-content;
    margin: 1rem;
    width: max-content;
    overflow: hidden;

    #menu {
        align-self: center;
        opacity: 0;
        transform: translateX(110%);
        transition: 250ms;

        &.active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    li {
        display: inline;
        height: max-content;
        list-style: none;
        margin: 0 0.1rem;
        overflow: wrap;
        @include tablet() {
            margin: 0 0.5rem;
            font-size: ff(2);
        }
        a {
            text-decoration: none;
        }
    }

    #menuIcon {
        width: 30px;
        height: 30px;
        opacity: 1;
        cursor: pointer;
        transition: 250ms;

        @include tablet() {
            width: 40px;
            height: 40px;
        }

        &.darkmode {
            filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
        }

        &.active {
            transform: rotate(180deg);
        }
    }

    #darkmodeIcon {
        grid-column: 2;
        justify-self: center;
        margin-top: 1rem;
        width: 30px;
        height: 30px;
        transition: 250ms;
        cursor: pointer;

        &.darkmode {
            filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
        }

        @include tablet() {
            width: 40px;
            height: 40px;
        }
    }
}


main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


/* 
=======================================

            Custom Styles

=======================================
*/


.card {
    grid-column: 1 / span 3;
    display: grid;
    margin: 2rem;
    max-width: 400px;
    overflow: none;
    h1, p {
        margin-bottom: 2rem;
    }
}


.card-image {
    grid-column: 4 / span 3;
    margin: 2rem 0;
    min-height: 50vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.75);
}


#welcomeCard {
    position: relative;
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    width: 100%;

    #welcomeMessage {
        grid-column: 2 / span 2;
        justify-self: center;
        align-self: center;
        padding: 1rem;
        height: max-content;
        border-radius: 10px;
        text-align: center;
    }
}


.bgGradient {
    background: linear-gradient(-45deg, dm(2), dm(accent), dm(2), dm(2));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}