/* 
=======================================

Settings, Variables and Functions Setup

=======================================
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.lightmode {
  color: #1a1a1a;
}

.darkmode {
  color: whitesmoke;
}

.darkmode-background {
  background-color: #1a1a1a;
}

.font {
  font-family: Quicksand;
  letter-spacing: 2px;
}

.font h1 {
  font-size: 28px;
  font-weight: 400;
}

.font p {
  font-size: 16px;
}

/* 
=======================================

Body, Header, Navigation and Footer

=======================================
*/
body {
  position: relative;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  color: #0f0f0f;
  background-color: #eeeeee;
  font-family: Quicksand;
  font-size: 32px;
  letter-spacing: 2px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

body.darkmode {
  color: whitesmoke;
  background-color: #282828;
}

nav {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  background-color: #eeeeee;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav.darkmode {
  color: whitesmoke;
  background-color: #282828;
}

nav a {
  margin-left: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: solid;
  border-color: #eeeeee;
  border-radius: 4px;
  text-decoration: none;
  color: #0f0f0f;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav a span {
  font-size: 24px;
  color: #a03131;
}

nav a span.darkmode {
  color: #e43232;
}

nav a.darkmode {
  color: whitesmoke;
  border-color: #282828;
}

nav a:hover, nav a:active {
  border-color: #a03131;
}

nav a:hover.darkmode, nav a:active.darkmode {
  border-color: #e43232;
}

nav li {
  display: inline;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
  margin: 0 0.1rem;
  overflow: wrap;
}

@media (min-width: 750px) {
  nav li {
    margin: 0 0.5rem;
    font-size: 28px;
  }
}

nav #title {
  position: relative;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  padding: 1rem 0;
  width: 100%;
  background-color: #eeeeee;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav #title.darkmode {
  background-color: #282828;
}

nav #menuIcon {
  margin-right: 1rem;
  width: 30px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav #menuIcon.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

nav #menuIcon.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 750px) {
  nav #menuIcon {
    width: 40px;
    height: 40px;
  }
}

nav #menu {
  position: absolute;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #eeeeee;
  border-bottom: solid;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav #menu.darkmode {
  color: whitesmoke;
  background-color: #282828;
}

nav #menu.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* 
=======================================

            Custom Styles

=======================================
*/
.darkmode-span span {
  color: #e43232;
}

.lightmode-span span {
  color: #b32828;
}

nav #darkmodeIcon {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 1rem;
  width: 30px;
  height: 30px;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
}

nav #darkmodeIcon.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

@media (min-width: 750px) {
  nav #darkmodeIcon {
    width: 40px;
    height: 40px;
  }
}

footer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem;
  background-color: #d8d8d8;
  -webkit-transition: 250ms;
  transition: 250ms;
}

footer.darkmode {
  color: whitesmoke;
  background-color: #141414;
}

footer p, footer ul, footer li {
  margin: 1rem;
}

footer p {
  font-size: 18px;
  text-align: center;
}

footer ul, footer li {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  list-style: none;
}

footer img {
  width: 50px;
  height: auto;
  -webkit-filter: none;
          filter: none;
}

footer img.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

/* 
============================================

                Page Content

============================================
*/
/* 

------------------------
    Universal Styles 
------------------------

*/
/* Card Containers */
.card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 264px;
  min-height: 264px;
  font-size: 24px;
}

.card h1, .card h2, .card h3 {
  font-size: 32px;
  font-weight: 525;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card ul {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 1.5em;
}

.card li {
  margin-top: 1rem;
  list-style-position: inside;
  list-style-type: circle;
  font-size: 24px;
  text-align: start;
}

.card span {
  color: #a03131;
}

.card span.darkmode {
  color: #e43232;
}

.c1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 500px;
  min-height: 400px;
  max-height: 450px;
  text-align: center;
}

.c1 h1 {
  padding: 1em 0.5em;
}

.c2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  width: 100%;
  max-width: 500px;
  border-top: solid 2px;
  border-color: #a03131;
}

.c2 h2, .c2 p, .c2 a {
  margin-top: 2.5rem;
}

.c2 h2 {
  font-size: 24px;
}

.c2 p, .c2 a {
  font-size: 18px;
  line-height: 2rem;
}

.c4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 500px;
  text-align: center;
}

.c4 p, .c4 a {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 2rem 0;
}

/* Buttons and Links */
.button {
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: solid 4px;
  border-color: #a03131;
  border-radius: 8px;
  text-decoration: none;
  color: #a03131;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.button:hover,
.button:active {
  background-color: #a03131;
  color: #d8d8d8;
}

.link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 4px;
  border-radius: 8px;
  text-decoration: none;
  color: #a03131;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.link:hover,
.link:active {
  background-color: #a03131;
  color: #0f0f0f;
}

.card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  display: -ms-grid;
  display: grid;
  margin: 2rem;
  max-width: 400px;
}

#gallerylightbox.active {
  opacity: 1;
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

#gallerylightbox #topbar {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#gallerylightbox #topbar img {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 2rem;
  width: 50px;
  height: 50px;
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

#gallerylightbox .imagecontainer {
  z-index: 9999;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  width: 80vw;
  height: 80vh;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#gallerylightbox .imagecontainer #imageClicked {
  z-index: 99999;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

#gallerylightbox #gBackground {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #d8d8d8;
  opacity: 0.85;
}

/* Custom Borders */
.border {
  position: absolute;
  background-color: #a03131;
  border: solid 2px;
  border-color: #a03131;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.border.darkmode {
  background-color: #e43232;
  border-color: #e43232;
}

.card-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  min-height: 50vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: opacity(0.25);
          filter: opacity(0.25);
}

.bgGradient {
  background: linear-gradient(-45deg, #1a1a1a, #e43232, #1a1a1a, #1a1a1a);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=styles.css.map */