/* 
=======================================

Settings, Variables and Functions Setup

=======================================
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* 
============================================

    Body, Navigation and Footer setup

============================================
*/
body {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  min-height: 100vh;
  color: #292929;
  background-color: #f0f0f0;
  font-family: Quicksand;
  font-size: 32px;
  letter-spacing: 2px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

body.darkmode {
  color: whitesmoke;
  background-color: #1a1a1a;
}

nav {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  background-color: #f0f0f0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav.darkmode {
  background-color: #1a1a1a;
}

nav a {
  margin: 1rem;
  padding: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: solid;
  border-color: #f0f0f0;
  border-radius: 4px;
  text-decoration: none;
  color: #292929;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav a span {
  font-size: 24px;
  color: #ad2727;
}

nav a.darkmode {
  color: whitesmoke;
  border-color: #1a1a1a;
}

nav a:hover, nav a:active {
  border-color: #ad2727;
}

nav #tContainer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  display: block;
  width: 100%;
}

@media (min-width: 1080px) {
  nav #tContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
}

nav #title {
  position: relative;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  width: 100%;
  background-color: #f0f0f0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav #title.darkmode {
  background-color: #1a1a1a;
}

nav #darkmodeIcon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 30px;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
}

@media (min-width: 1080px) {
  nav #darkmodeIcon {
    margin-right: 1rem;
  }
}

nav #darkmodeIcon.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

nav #darkmodeIcon.active {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

nav #menuIcon {
  margin: 1rem 0.75rem;
  width: 30px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav #menuIcon.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

nav #menuIcon.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 1080px) {
  nav #menuIcon {
    display: none;
  }
}

nav #menu {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
  background-color: #f0f0f0;
  border-bottom: solid;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav #menu.darkmode {
  color: whitesmoke;
  background-color: #1a1a1a;
}

nav #menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav #menu ul, nav #menu li, nav #menu a {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  padding: 4px;
  list-style: none;
  font-size: 24px;
}

@media (min-width: 1080px) {
  nav #menu ul, nav #menu li, nav #menu a {
    display: inline;
  }
}

@media (min-width: 1080px) {
  nav #menu {
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border-bottom: none;
    -webkit-transform: none;
            transform: none;
  }
}

footer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem;
  background-color: #e0e0e0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

footer.darkmode {
  color: whitesmoke;
  background-color: #121212;
}

footer p, footer ul, footer li {
  margin: 1rem;
}

footer p {
  font-size: 18px;
  text-align: center;
}

footer ul, footer li {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  list-style: none;
}

footer img {
  width: 50px;
  height: auto;
}

footer img.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

/* 
============================================

                Page Content

============================================
*/
/* 

------------------------
    Universal Styles 
------------------------

*/
/* Card Containers */
.card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 264px;
  min-height: 264px;
  font-size: 24px;
}

.card h1, .card h2, .card h3 {
  font-size: 32px;
  font-weight: 525;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card ul {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 1.5em;
}

.card li {
  margin-top: 1rem;
  list-style-position: inside;
  list-style-type: circle;
  font-size: 24px;
  text-align: start;
}

.card span {
  color: #ad2727;
}

.c1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 500px;
  min-height: 400px;
  max-height: 450px;
  text-align: center;
}

.c1 h1 {
  padding: 1em 0.5em;
}

.c2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  width: 100%;
  max-width: 500px;
  border-top: solid 2px;
  border-color: #ad2727;
}

.c2 h2, .c2 p, .c2 a {
  margin-top: 2.5rem;
}

.c2 h2 {
  font-size: 24px;
}

.c2 p, .c2 a {
  font-size: 18px;
  line-height: 2rem;
}

.c4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 500px;
  text-align: center;
}

.c4 p, .c4 a {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 2rem 0;
}

/* Buttons and Links */
.button {
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: solid 4px;
  border-color: #ad2727;
  border-radius: 8px;
  text-decoration: none;
  color: #ad2727;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.button:hover,
.button:active {
  background-color: #ad2727;
  color: #292929;
}

.link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 4px;
  border-radius: 8px;
  text-decoration: none;
  color: #ad2727;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.link:hover,
.link:active {
  background-color: #ad2727;
  color: #292929;
}

/* 

------------------------
    Custom Styles 
------------------------

*/
/* Gallery Formatting */
#gallery {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  position: relative;
  -webkit-columns: 1;
          columns: 1;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #c5c5c5;
  border-radius: 8px;
}

@media (min-width: 750px) {
  #gallery {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media (min-width: 1080px) {
  #gallery {
    -webkit-columns: 4;
            columns: 4;
  }
}

#gallery .imagecontainer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 24px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#gallery .imagecontainer img {
  z-index: 500;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  border-radius: 5px;
}

#gallery .imagecontainer:hover {
  -webkit-transform: scale(95%);
          transform: scale(95%);
  cursor: pointer;
}

#gallerylightbox {
  position: fixed;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

#gallerylightbox.active {
  opacity: 1;
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

#gallerylightbox #topbar {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#gallerylightbox #topbar img {
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 2rem;
  width: 50px;
  height: 50px;
}

#gallerylightbox #topbar img.darkmode {
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

#gallerylightbox .imagecontainer {
  z-index: 9999;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  width: 80vw;
  height: 80vh;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#gallerylightbox .imagecontainer #imageClicked {
  z-index: 99999;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

#gallerylightbox #gBackground {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #c5c5c5;
  opacity: 0.85;
}

/* Custom Borders */
.border {
  position: absolute;
  background-color: #ad2727;
  border: solid 2px;
  border-color: #ad2727;
}

.borderTop {
  width: 50%;
}

.borderLeft {
  height: 20%;
}

.borderBottom {
  width: 50%;
  bottom: 0;
  right: 0;
}

.borderRight {
  height: 20%;
  bottom: 0;
  right: 0;
}

/* 

------------------------
        Animations 
------------------------

*/
.FadeIn {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */