/* 
=======================================

Settings, Variables and Functions Setup

=======================================
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* 
============================================

    Body, Navigation and Footer setup

============================================
*/
body {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  min-height: 100vh;
  color: whitesmoke;
  background-color: #282828;
  font-family: Quicksand;
  font-size: 30px;
  letter-spacing: 2px;
}

nav {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  margin: 1rem;
  background-color: #282828;
}

nav a {
  padding: 4px;
  border-bottom: solid;
  border-color: #282828;
  border-radius: 4px;
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav a span {
  font-size: 24px;
  color: #e43232;
}

nav a:hover, nav a:active {
  border-color: #e43232;
}

nav #tContainer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  display: block;
  width: 100%;
}

@media (min-width: 750px) {
  nav #tContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

nav #title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  width: 100%;
}

nav #menuIcon {
  width: 30px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

@media (min-width: 750px) {
  nav #menuIcon {
    display: none;
  }
}

nav #menu {
  position: absolute;
  display: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
  background-color: #282828;
  border-bottom: solid;
}

nav #menu ul, nav #menu li, nav #menu a {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 4px;
  list-style: none;
  font-size: 24px;
}

@media (min-width: 750px) {
  nav #menu ul, nav #menu li, nav #menu a {
    display: inline;
  }
}

@media (min-width: 750px) {
  nav #menu {
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border-bottom: none;
  }
}

footer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem;
  background-color: #141414;
}

footer p, footer ul, footer li {
  margin: 1rem;
}

footer p {
  font-size: 18px;
  text-align: center;
}

footer ul, footer li {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  list-style: none;
}

footer img {
  width: 50px;
  height: auto;
  -webkit-filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
          filter: invert(100%) sepia(23%) saturate(113%) hue-rotate(204deg) brightness(111%) contrast(92%);
}

/* 
============================================

                Page Content

============================================
*/
/* 

------------------------
    Universal Styles 
------------------------

*/
/* Custom Borders */
.border {
  position: absolute;
  background-color: #e43232;
  border: solid 2px;
  border-color: #e43232;
}

.borderTop {
  width: 50%;
}

.borderLeft {
  height: 20%;
}

.borderBottom {
  width: 50%;
  bottom: 0;
  right: 0;
}

.borderRight {
  height: 20%;
  bottom: 0;
  right: 0;
}

/* Card Containers */
.card {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card h1, .card h2, .card h3 {
  font-weight: 500;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card a {
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: solid 4px;
  border-color: #e43232;
  border-radius: 8px;
  text-decoration: none;
  color: #e43232;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.card a:hover, .card a:active {
  background-color: #e43232;
  color: whitesmoke;
}

.card span {
  color: #e43232;
}

.c1 {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 2rem 2rem 2rem;
  max-width: 500px;
  height: 38vh;
  text-align: center;
}

.c1 a {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 1rem;
}

.c2 {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  display: -ms-grid;
  display: grid;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 500px;
  border-top: solid 2px;
  border-color: #e43232;
}

.c2 h2, .c2 p, .c2 a {
  margin-top: 1rem;
}

.c2 h2 {
  font-size: 24px;
}

.c2 p {
  font-size: 18px;
  line-height: 2rem;
}

.c2 a {
  margin-bottom: 2rem;
  font-size: 18px;
}

/* 

------------------------
    Custom Styles 
------------------------

*/
#summarycard {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 2rem 2rem 2rem;
  max-width: 500px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
}

#summarycard h1 {
  margin: 2rem 0;
}

#summarycard ul {
  -ms-grid-column-align: center;
      justify-self: center;
}

#summarycard li {
  margin-top: 1rem;
  list-style-position: inside;
  list-style-type: circle;
  font-size: 24px;
  text-align: start;
}

#cSooncard {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 2rem 2rem 2rem;
  max-width: 500px;
  text-align: center;
}

#cSooncard h1 {
  margin: 2rem 0;
}
/*# sourceMappingURL=styles.css.map */