@import '../settings/colours';

#about {
    display: grid;
    width: 100%;
    img {
        margin: 4rem 1rem 1rem 1rem;
        width: 50%;
        max-width: 200px;
        border-radius: 50%;
        border: solid;
        color: lm(3);
    }
    p {
        padding: 2rem 0;
        border-bottom: solid;
        border-color: lm(5);
    }
}

.links {
    margin: 1rem 0;
    width: 80%;
    h2 {
        margin-bottom: 1rem;
    }
    li {
        margin-bottom: 0.5rem;
        text-decoration: none;
        list-style-position: inside;
    }
    a {
        // text-decoration: none;
        color: lm(5);
    }
}