#about {
    position: relative;
    display: grid;
    height: 100%;
    @include desktop {
        grid-template-columns: 40vw 1fr;
        margin-top: 2rem;
        padding: 0 2rem;
    }
}

#aboutProfile {
    justify-self: center;
    display: grid;
    width: 80%;
    height: max-content;
    margin-top: 4rem;
    margin-bottom: 2rem;
    @include desktop {
        position: sticky;
        top: 125px;
        margin-left: 2rem;
        width: 100%;
        max-width: 600px;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

#aboutDesc {
    justify-self: center;
    display: grid;
    @include desktop {
        margin: 2rem;
        padding: 2rem 0;
    }
}

#aboutCard {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;
    #propic {
        justify-self: center;
        width: 200px;
        border-radius: 50%;
    }
    ul {
        margin: 2rem;
        li {
            margin: 0.5rem 0;
            list-style-position: inside;
        }
    }
    a {
        text-decoration: none;
        color: lm(1);
        text-decoration: underline;
    }
}

#ADContainer {
    display: grid;
    width: 80%;
    @include desktop {
        width: 90%;
        max-width: 700px;
    }
    p {
        margin: 1rem 0;
        max-width: 650px;
        height: max-content;
    }
    img {
        justify-self: start;
        width: 100%;
        border-radius: 8px;
        @include desktop {
            width: 60%;
        }
    }
}