#experience {
    position: relative;
    display: grid;
    height: 100%;
    @include desktop {
        grid-template-columns: 40vw 1fr;
        margin-top: 2rem;
        padding: 0 2rem;
    }
}

#XPDesc {
    justify-self: center;
    width: 80%;
    height: max-content;
    margin-top: 4rem;
    margin-bottom: 2rem;
    @include desktop {
        position: sticky;
        top: 125px;
        margin-left: 2rem;
        width: 100%;
        max-width: 600px;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

#XPlist {
    display: grid;
}

.XPcard {
    justify-self: center;
    margin: 2rem 0;
    padding-top: 2rem;
    width: 80%;
    border-top: solid;
    border-color: lm(5);
    @include desktop {
        width: 90%;
        max-width: 700px;
    }
    h2, p, ul {
        margin-bottom: 1rem;
    }
    li {
        list-style-position: inside;
    }
    a {
        color: lm(5);
    }
    p {
        max-width: 650px;
        height: max-content;
    }
    img {
        justify-self: start;
        width: 100%;
        border-radius: 8px;
        @include desktop {
            margin: 0;
            width: 60%;
        }
    }
}